@charset "UTF-8";

body {
    background-color: #f2f2f2;
}

.content-page {
    width: 1350px;
    height:100%;
    margin: 0 auto;
    padding: 20px 0;
    background-color: #f2f2f2;
}
.content-page > .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.content-page > .page-header h2 {
    font-size: 24px;
    font-weight: 700;
}
.breadcrumbs li {
    float: left;
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    color: #666;
    padding-left: 15px;
}
.breadcrumbs li + li::before {
    content: "";
    display: inline-flex;
    width: 12px;
    height: 12px;
    margin-right:10px;
    background-image: url('../images/icon_select.svg');
    background-repeat: no-repeat;
    background-position: 2px center ;
    transform: rotate(270deg);
}

.page-layout {
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
.page-footer {
    margin-top: 20px;
    text-align: right;
}
.page-layout.grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.box {
    position: relative;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 10%);
    background-color: #fff;
}
.box .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
}
.box.type1 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}
.box .header .title {
    display: flex;
    justify-content: space-between;
}
.box .header .title span {
    margin-left: 16px;
}
.box .header h3 {
    font-size: 20px;
    font-weight: 600;
}
.box .header h3 span {
    padding-left: 14px;
    font-size: 14px;
    font-weight: 600;
    color: #0070b1;
}
.box .header h3 + .btn, .box .header h3 + .btn-wrap  {
    margin-top: -6px;
}
.box .header h3 + .util-btn-wrap {
    margin-top: 0px;
}
.box .header h3 + .util-btn-wrap .btn + .btn {
    margin-left: 4px;
}
.box .unit {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex: 1;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
    position: relative;
}
.box .unit .datepicker-wrap {
    position: absolute;
    top: -8px;
    justify-content: end;
    display: inline-grid;
}
.box .unit .datepicker-wrap input {
    cursor: pointer;
    width: 110px;
    border: 0;
}
.box .unit .datepicker-wrap input:focus {
    outline: 0;
}
.box .unit .datepicker-wrap input:read-only {
    background-color: #fff;
}
.box .body {
}
.box .body .body-wrap, .box .body-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.form-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.form-grid-search {
    display: flex;
    align-items: center;
}
.form-grid-search .label {
    font-weight: 600;
    padding-right: 20px;
}
.form-grid-search span + .label{
    padding-left: 40px;
}
.form-grid-search .label + span {
    display: inline-block;
    padding-left: 20px;
}

.progress-con {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}
.progress { 
    display: flex;
    width: 100%;
    height:32px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.progress > div { 
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.progress .label {
    width: 50px;
    margin-right: 10px;
    font-weight: 700;
    text-align: right;
}
.progress .progress-wrap {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;    
    border-radius: 25px;
    background-color: #f2f2f2;
}
.progress .progress-wrap .progress-bar {
    position: absolute;
    height: 100%;
    border-radius: 25px;
}
.progress .progress-wrap.type1 {
    background-color: #DFECFD;
}
.progress .progress-wrap.type1 .progress-bar {
    background-color: #72A2ED;
}
.progress .progress-wrap.type2 {
    background-color: #EDEDED;
}
.progress .progress-wrap.type2 .progress-bar {
    background-color: #F6D0AC;
}
.progress .progress-wrap.type3 {
    background-color: #EDEDED;
}
.progress .progress-wrap.type3 .progress-bar {
    background-color: #BAE7D4;
}
.progress .progress-wrap .progress-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    z-index: 2;
}
.progress .progress-wrap .progress-data span {
    text-align: center;
    font-weight: 600;
}
.progress .progress-wrap .progress-data span:first-child {
    text-align: left;
}
.progress .progress-wrap .progress-data span:last-child {
    text-align: right;
}
.grid-wrap {
    margin-top: 0!important;
}
.gridjs-container {
    padding: 0
}
.gridjs-wrapper {
    border-radius: 0!important;
    box-shadow: none;
}
/* 소계 행 스타일 */
  #annualGrid tr.subtotal-row td {
    background-color: #e9f0ff;
    font-weight: bold;
  }

  /* 합계 행 스타일 */
  #annualGrid tr.total-row td {
    background-color: #d7e6ff;
    font-weight: bold;
    border-top: 0px solid #99b3ff;
  }
th.gridjs-th, td.gridjs-td, th.status-cell {
    border: 1px solid #f5f5f5;
    box-sizing: border-box;
    padding: 3px 10px;
    text-align: center;
    line-height: 1.6;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}
th.gridjs-th {
    text-align: center!important;
    background-color: #FCFCFC;
    height: 37px;
}
td.gridjs-td {
    border: 1px solid #f5f5f5;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    line-height: 1.6;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    vertical-align: middle;
}
.gridjs-tr:last-child td {
    border-bottom: 1px solid #f5f5f5;
}
.gridjs-message.gridjs-notfound {
    text-align: center; 
    padding: 10px 4px;
}
.gridjs-td > span, td.status-cell > span {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 37px;
    padding: 0 10px;
}
th.gridjs-th-sort, th.status-cell {
    cursor: pointer;
    background-color: #FCFCFC;
}

/* 상태 라벨 색상 */
.status-label {
    font-weight: 600;
    padding: 0;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    line-height: 2.6;
    height: 100%;
    margin: 0 auto;
}
.status-label:before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #890d0d;
}
.status-label.status-draft:before { background-color: #f4b400;}
.status-label.status-approved:before { background-color: #1e88e5;}
.status-label.status-rejected:before { background-color: #e53935;}
.status-label.status-saved:before { background-color: #bbbbbb;}
.status-label.status-completed:before { background-color: #28c840;}

.status-draft { color: #f4b400; }   /* 기안 */
.status-approved { color: #1e88e5; } /* 결재 */
.status-rejected { color: #e53935; } /* 반려 */
.status-saved { color: #bbbbbb; } /* 저장 */
.status-completed { color: #28c840; } /* 완료 */

td.status-cell {
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    line-height: 1.6;
    border: 1px solid #f5f5f5;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    line-height: 1.6;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}
.status-cell .gridjs-th-content {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    width: calc(100% - 15px);
}
.cell-wrapper {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 첨부파일 아이콘 */
.file-icon { 
    font-size: 1.1rem;
    background-image: url(../images/icon_file.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    color: transparent;
    width: 15px;
    display: inline-block;
    margin: 0 auto;

}

/* 링크 스타일 */
.detail-link {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #1e88e5;
    text-decoration: none;
    font-weight: 500;
}
.detail-link:hover {
text-decoration: underline;
}

/* grid wrapper */
#attendanceGrid { margin-top: 10px; }


.combobox.combobox-list .group {
    display: flex;
    justify-content: space-between;
    height: 38px;
    padding: 0;
    border: 1px solid #c3c3c3;
}
.combobox input, .combobox .group.focus input {
    width: 100%;
    height: 38px;
    padding: 0 0.45rem;
    font-size: 14px;
    border: 0px solid #c3c3c3;
    height: 38px;
    background-color: transparent
}
.combobox .group.focus, .combobox .group:hover {
    padding: 0;
    border-radius: 0;
}
.combobox button, .combobox .group.focus button, .combobox .group button:hover {
    height: 38px;
    width: 38px;
    background-color: transparent;
    border: 0;
}
.combobox button {
    color: inherit
}
.combobox button:before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 10px;
    background-image: url(../images/icon_select.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
}

.attach-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.attach-list {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    gap: 16px;
}
.attach-list a {
    color: #1e88e5;
}
.attach-wrap .util-btn {
    display: flex;
}


.form-group {
    display: flex;
    gap: 10px
}
.form-group > span {
    display: flex;
    align-items: center;
}
.form-group > span label input {
    margin-right: 8px;
}

.form-table {clear: both; }
.form-table + .form-table {margin-top: 30px; }
.form-table .ttl {font-size: 16px; font-weight: 600; margin-bottom: 10px; }
.form-table th {font-weight: 600; }

.form-table input[readonly] {padding: 0 4px; }

.form-table input+ .string {display: inline-block; padding: 0 4px; height: 29px; vertical-align: middle; }
.form-table input+ .string:before {content: ""; display: inline-block; height: 21px; vertical-align: bottom; }
.form-table input+ .string.tilde {}
/* .form-table input+ .string.unit {padding-left: 7px; } */
.form-table .image-button.is--search-submit+ .string {display: inline-block; padding: 0 10px; height: 29px; vertical-align: middle; line-height: 29px; }/* %added Jaguar */

.form-table input.block {margin-top: 4px; }
.form-table input.block:first-child {margin-top: 0; }

.form-table th> label:only-child {display: inline-block; width: 100%; }

.form-table.type1> table {border: 1px solid #F5F5F5; border-width: 1px 0; width: 100%; line-height: 1.15; background-color: #ffffff; }
.form-table.type1> table> tbody> *> * {border-top: 1px solid #F5F5F5; border-width: 1px 0px 0px; padding: 0px 8px; height: 55px;vertical-align: middle; }
.form-table.type1> table> tbody> *> td {text-align: left; word-break: break-all; }
.form-table.type1> table> tbody> *> th {padding: 0px 15px; vertical-align: middle; background-color: #fff; text-align: left; word-break: keep-all; }
.form-table.type1> table> tbody> *> th:after {content: ""; display: inline-block; height: 21px; vertical-align: bottom; }
.form-table.type1> table> tbody> *> th.border-right {border-right:1px solid #c3c3c3;}/* %added Jaguar */
/* .form-table.type1 table th {vertical-align: top; line-height: 29px; }
.form-table.type1 table th input[type="checkbox"]+ *, .form-table.type1 table th input[type="radio"]+ * {margin: -9px 0 -8px; }
.form-table.type1 table th> * {margin-top: -3px; line-height: 1; } */
.form-table.type1> table> tbody:first-of-type> *:first-child> * {border-top: 0 none; }

.form-table.type1> table.inner-table {border-width: 1px; }



.grid-table {clear: both; }
.grid-table th {font-weight: 600; }

.grid-table.type1> *> table,
.grid-table.type1> table {border: 1px solid #c3c3c3; border-width: 1px 0; width: 100%; text-align: center; line-height: 1.15; background-color: #ffffff; }
.grid-table.type1> *> table> *> *> *,
.grid-table.type1> table> *> *> * {border: 1px solid; padding: 4px 10px; height: 29px; border-color: #c3c3c3 #d9d8d8; }
.grid-table.type1> *> table> *> *> *,
.grid-table.type1> table> *> *> * {border-width: 1px 1.1px 0; word-break: break-all; }
.grid-table.type1> *> table> thead> *> *,
.grid-table.type1> table> thead> *> * {padding: 1px 10px; border-width: 0 1.1px 1px; text-align: center; background-color: #eaecf0; word-break: keep-all; }
/* .grid-table.type1> *> table> *> *> *, .grid-table.type1> *> table> thead> *> *,
.grid-table.type1> table> *> *> *, .grid-table.type1> table> thead> *> * {border-left: 1.1px; } */
.grid-table.type1> *> table> thead> *:only-child> *,
.grid-table.type1> table> thead> *:only-child> * {padding: 4px 10px; }
.grid-table.type1> *> table> tfoot> *> td,
.grid-table.type1> table> tfoot> *> td {background-color: #f0f1f3; }
.grid-table.type1> *> table> tfoot> *> th,
.grid-table.type1> table> tfoot> *> th {background-color: #eaecf0; }
.grid-table.type1> *> table> tbody> *> th,
.grid-table.type1> table> tbody> *> th {background-color: #f9fafb; }
.grid-table.type1> *> table> tfoot> *:first-child> *,
.grid-table.type1> table> tfoot> *:first-child> * {border-top-width: 2px; /* border-top-style: inset; */ }
.grid-table.type1> *> table> tbody:first-of-type> *:first-child> *,
.grid-table.type1> table> tbody:first-of-type> *:first-child> * {border-top: 0 none; }
.grid-table.type1> *> table> *> *> *:first-child,
.grid-table.type1> table> *> *> *:first-child {border-left: 0 none; }
.grid-table.type1> *> table> *> *> *:last-child,
.grid-table.type1> table> *> *> *:last-child {border-right: 0 none; }
.grid-table.type1> *> table> tbody> *:hover> *,
.grid-table.type1> table> tbody> *:hover> * {background-color: #f9eef1; }
.grid-table.type1> *> table.no-hover> tbody> *:hover> td, .grid-table.type1> *> table> tbody> *:hover> td[rowspan],
.grid-table.type1> table.no-hover> tbody> *:hover> td, .grid-table.type1> table> tbody> *:hover> td[rowspan] {background-color: transparent; }
.grid-table.type1> *> table.no-hover> tbody> *:hover> th, .grid-table.type1> *> table> tbody> *:hover> th[rowspan],
.grid-table.type1> table.no-hover> tbody> *:hover> th, .grid-table.type1> table> tbody> *:hover> th[rowspan] {background-color: #f9fafb; }

.grid-table.type1> table.inner-table {border-width: 1px; }


.flexiblework-summary {
    display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; width: 100%; text-align: center; gap: 28px 6px;
}
.flexiblework-summary .item {
    display: flex; align-items: center; justify-content: center; flex: 1;
}
.flexiblework-summary .item.head {
    opacity: 0.4;
}
.flexiblework-summary .week > emx {
    background-color: #617186;border-radius: 50%; padding: 4px; width: 24px; height: 24px; display: flex;justify-content: center; align-items: center; margin: 0 auto; color: #fff;
}
.flexiblework-summary .time {
    background-color: #e8e8e8;border-radius: 4px; padding: 4px 30px; width: 24px; height: 24px; display: flex;justify-content: center; align-items: center; margin: 0 auto; color: #000; font-weight: 600;
}
.flexiblework-summary.type2 {
    display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; width: 100%; text-align: center; gap: 28px 18px;
}